@import './Palette.css';

/**
.navLink {  
    display: block;
    position: absolute;
    margin-left: 50vw;
    justify-self: right;
    align-self: flex-end;

}
*/

.navLink {  
    display: inline-flex;
    margin-right: 10px;
    /* font-size: calc(10px + 2vmin); */
    font-size: 1.5em;
    float: right;
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: .4em .6em .4em;
}

.navLink:hover {
    color:darkgrey;
    filter:grayscale(50);
}